<div id="card-regstrtion">
  <div id="card-content">
    <div id="card-title">
      <h2>Regstrtion</h2>
      <div class="underline-title"></div>

    </div>
    <form method="post" class="form" ngNativeValidate>
      <label for="user-first-name" style="padding-top:13px">
        &nbsp;FirstName</label>
      <input type="text" class="form-content" required    name="firstNamee"  [(ngModel)]="firstName" #class=ngModel />

      <div class="form-border">
      </div>

      <div class="alert alert-danger" style="color: red;" *ngIf="class.touched && !class.valid" > FirstName must be Enter</div>

      <label for="user-last-name" style="padding-top:13px">&nbsp;LastName</label>
      <input type="text" class="form-content" required  name="lastName"  [(ngModel)]="lastName" #class1=ngModel  />
      <div class="form-border"></div>

      <div class="alert alert-danger" style="color: red;" *ngIf= class1.touched && !class1.valid >LastName must be Enter</div>
      <label for="user-email" style="padding-top:13px">&nbsp;Email</label>
      <input type="text" class="form-content" required  name="email"  [(ngModel)]="email" #class=ngModel />


      <div class="form-border"></div>

      <div class="alert alert-danger" style="color: red;" name="email" *ngIf="!class.valid && class.touched" >

        Email must be at least 4 characters long.

      </div>
      <label for="user-email" style="padding-top:13px">
        &nbsp;UserName
      </label>
      <input type="text" class="form-content" required name="username"  [(ngModel)]="username" #class7=ngModel />


      <div class="form-border"></div>

      <div class="alert alert-danger" style="color: red;" name="username"  *ngIf="!class7.valid && class7.touched">

        User must be at least 4 characters long.

      </div>
      <label for="user-password" style="padding-top:22px">&nbsp;Password
      </label>
      <input id="user-password" class="form-content" type="password" required  name="password"  [(ngModel)]="password" #class2=ngModel />
      <div class="form-border"></div>
      <div class="form-border"></div>

      <div class="alert alert-danger" style="color: red;" name="password" *ngIf="!class2.valid && class2.touched">

        Password must be at least 4 characters long.

      </div>


      <input id="submit-btn" type="submit" name="submit" value="Regstrtion" (click)="saveData()" />
    </form>
  </div>
</div>
