@import url("https://fonts.googleapis.com/css?family=Monoton|Montserrat");
* {
  box-sizing: border-box;
}
body,html {
  margin: 0;
  font-family: "montserrat";
  background-color: #edf2fb;

  background-size: 400% 400%;
  animation: gradientTranisition 50s linear infinite;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-family-sans-serif);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bc);
  align-items: center;
  justify-content: center;
  color: #333e48;
  font-family: Lato,Helvetica,Arial,sans-serif;
  
}
/*  */

p{
   text-align: center; 
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
   font-style: normal; 
   font-weight: 400; 
   line-height: 1.5; 
   margin: 0;

}

.navbar{
background-color: #219ebc;
  justify-content: space-between;
  font-family: var(--font-family-sans-serif);
}

h3{
  text-align: center;
  color: #03045e;
font-size: large;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;



}

span{

  padding-right: 1rem;
}
button {
	font-family: 'Montserrat', sans-serif;
	border: 0;
	border-radius: 45px;
	padding: 10px 20px;
	font-size: 18px;
	color: #03045e;
	cursor: pointer;
  font-family: var(--font-family-sans-serif);
}

