@import url("https://fonts.googleapis.com/css?family=Monoton|Montserrat");
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Karla&family=Libre+Baskerville:ital@1&family=Martel:wght@400;700&family=PT+Serif:ital@0;1&family=Playfair+Display&family=Raleway&family=Roboto+Mono&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Karla&family=Martel:wght@400;700&family=PT+Serif&family=Roboto+Mono&family=Roboto:ital,wght@1,100&display=swap');
@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: "montserrat";
  background-color: #edf2fb;

  background-size: 400% 400%;
  animation: gradientTranisition 50s linear infinite;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-family-sans-serif);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bc);
  align-items: center;
  justify-content: center;
  color: #333e48;
  font-family: Lato, Helvetica, Arial, sans-serif;
  background: linear-gradient(100deg, #ffffff, #caf0f8, #ade8f4);
  background-size: 180% 180%;
  animation: gradient-animation 9s ease infinite;
}

/*  */

p {
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Domine', serif;
  font-weight: bolder;
  line-height: 1.5;
  margin: 0;
  font-size: large;
  color: #00111c;
  
}

.navbar {
  background-color: #219ebc;
  justify-content: space-between;
  font-family: var(--font-family-sans-serif);
}

h3 {
  text-align: center;
  font-family: 'Domine', serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin-bottom: 30px;
  margin-top: 25PX;
  color: #023047;
}

.answers {


  font-family: 'Domine', serif;
  /* font-family: 'Karla', sans-serif;
font-family: 'Martel', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */
  color: #0077b6;
}



span {

  padding-right: 1rem;
}

button {
  font-family: 'Montserrat', sans-serif;
  border: 0;
  border-radius: 45px;
  padding: 10px 20px;
  font-size: 18px;
  color: #03045e;
  cursor: pointer;
  font-family: var(--font-family-sans-serif);
}

.material-icons {

  color: white;

}

label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}
#forgot-pass {
  color: #219ebc;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}
#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
}
#card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup {
  color: #023047;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 2px;
  text-align: center;
}
#submit-btn {
  background: -webkit-linear-gradient(right, #219ebc, #023047);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #219ebc;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 20px;

  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  box-shadow: 0px 1px 18px #219ebc;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;

}
.form-border {
  background: -webkit-linear-gradient(right, #219ebc, #023047);
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}
.underline-title {
  background: -webkit-linear-gradient(right, #219ebc, #023047);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}

/* regstrtion  */
h1 {
  position: relative;
  color: #fff;
  opacity: 0;
  transition: .8s ease-in-out;
}

#progress {
  position: absolute;
  background: #0069ec;
  height: 100vh;
  width: 0;
  transition: width 0.2s ease-in-out;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}
.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

#card-regstrtion{
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 700px;
  margin: 6rem auto 8.1rem auto;
  width: 650px;


}

a{

  padding-top: 20px;
  text-align: center;
}