<mat-toolbar class="navbar">
  <div></div>
  <div>
    <span><button id="btn">Home </button></span>
    <button id="btn">Login</button>
  </div>
  <!-- <div class="buttons">
    <button class="btn-hover color">Home</button>
  </div> -->
</mat-toolbar>

<router-outlet></router-outlet>
  <h3>FQA </h3>
<div>



  

  <p> Q: How long can I take Technical Support for a product?</p>
  <p>&nbsp;</p>
  <p>A: You can take Technical Support for every year of the term of the product license.</p>
  <p>&nbsp;</p>
  <strong></strong>
  <p> Q: How long can I take Technical Support for a product?</p>
  <p>&nbsp;</p>
  <p>A: You can take Technical Support for every year of the term of the product license.</p>
  <p>&nbsp;</p>
  <strong></strong>
  <p> Q: How long can I take Technical Support for a product?</p>
  <p>&nbsp;</p>
  <p>A: You can take Technical Support for every year of the term of the product license.</p>
  <p>&nbsp;</p>
  <strong></strong>
  <p> Q: How long can I take Technical Support for a product?</p>
  <p>&nbsp;</p>
  <p>A: You can take Technical Support for every year of the term of the product license.</p>
  <p>&nbsp;</p>
  <strong></strong>
  <p> Q: How long can I take Technical Support for a product?</p>
  <p>&nbsp;</p>
  <p>A: You can take Technical Support for every year of the term of the product license.</p>
  <p>&nbsp;</p>
  <strong></strong>
</div>
